.navContainer {
	width: 100%;
	height: 10vh;
	position: absolute;
	top: 0;
	left: 0;
}

.nav {
	padding: 0 4rem;
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav .logo {
	flex: 3;
	color: #fff;
	font-size: 1.5rem;
}

.nav ul {
	flex: 1;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav ul li {
	list-style: none;
}

.nav ul li .a {
	text-decoration: none;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 1.2rem;
	transition: all 0.3s ease;
}

.nav ul li .a:hover {
	text-decoration: underline;
	text-underline-position: under;
}

.hamburger {
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	display: none;
}

.hamburger .hamLine1 {
	background-color: #fff;
	width: 2.5rem;
	height: 0.4rem;
	position: absolute;
	top: 16px;
}

.hamburger .hamLine2 {
	background-color: #fff;
	width: 2.5rem;
	height: 0.4rem;
	position: absolute;
	top: 30px;
}

.hamburger .hamLine3 {
	background-color: #fff;
	width: 2.5rem;
	height: 0.4rem;
	position: absolute;
	top: 44px;
}

@media screen and (max-width: 1140px) {
	.nav .logo {
		flex: 2;
	}
}

@media screen and (max-width: 900px) {
	.nav .logo {
		flex: 1;
	}
}

@media screen and (max-width: 700px) {
	.nav ul {
		display: none;
	}

	.hamburger {
		display: block;
	}
}
