.signInContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.signInForm {
	width: 100%;
}

.inputDiv {
	margin: 1.5rem 0;
	padding: 0.5px 0;
	border-bottom: 2px solid #d9d9d9;
	display: flex;
	position: relative;
}

.inputDiv:nth-child(2) {
	margin-top: 2.8rem;
}

.inputDiv::after,
.inputDiv::before {
	content: "";
	position: absolute;
	bottom: -2px;
	width: 0;
	height: 2px;
	background-color: #38d39f;
}

.inputDiv::after {
	right: 50%;
}

.inputDiv::before {
	left: 50%;
}

.inputDiv .input {
	width: 100%;
}

.inputDiv > div {
	position: relative;
	height: 2.2rem;
}

.inputDiv > div label {
	position: absolute;
	left: 0.6rem;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 1.2rem;
	transition: 0.3s;
	letter-spacing: 1px;
	font-weight: 500;
}

.inputDiv.focus div label {
	top: -8px;
	left: 5px;
	font-size: 1rem;
}

.inputDiv.focus::after,
.inputDiv.focus::before {
	width: 50%;
}

.inputDiv input {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: none;
	outline: none;
	background: transparent;
	padding: 0.5rem 0.4rem;
	font-size: 0.9rem;
	color: #555;
	letter-spacing: 1px;
}

.btn {
	width: 100%;
	height: 3rem;
	border-radius: 2rem;
	margin: 1rem 0;
	font-size: 1.1rem;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: #38d39f;
	color: #fff;
	transition: 0.5s;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}

.forgotPassword {
	text-align: right;
	color: #999;
	font-weight: 600;
}
